<div>
	Hi,
</div>
<div>
	A new order has been placed. Plese check the order list.
</div>
<div>
	Order ID: <%= @order.id %> <br />
	Name: <%= @order.product.camelcase %> <br />
	Quantity: <%= @order.quantity %> <br />
	Phone Number: <%= @order.number %> <br />
</div>
