<!DOCTYPE html>
<html>
<head>
  <title>Logistic</title>
  <%= stylesheet_link_tag    "logistic/application", media: "all" %>
  <%= javascript_include_tag "logistic/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
